@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

/* font-family: "Lato", sans-serif; */
* {
  padding: 0;
  margin: 0;
}
.btn {
  padding: 20px 43px 20px 43px;
  border-radius: 8px;
  background: #e55473;
  border: none;
  color: #fff;
  margin-top: 10px;
}
h3 {
  color: rgb(39, 39, 39);
  font-family: Lato;
  font-size: 50px;
  font-weight: 800;
  line-height: 56px;
  letter-spacing: 0%;
}
p {
  color: rgba(39, 39, 39, 0.6);
  font-family: Lato;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0%;
  margin: 20px 0;
}
h4 {
  color: rgb(39, 39, 39);
  font-family: Lato;
  font-size: 25px;
  font-weight: 800;
  line-height: 28px;
  letter-spacing: 0%;
  text-align: center;
}
.tittle {
  width: 594px;
  margin: 50px 0;
  margin: 0 auto;
  text-align: center;
  padding: 20px;
}
.container {
  width: 1440px;
}
.bg-primary {
  background: rgba(229, 84, 115, 0.05);
}

.banner-part-content {
  max-width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.banner-text-content {
  max-width: 44%;
}
.banner-text {
  margin-right: 50px;
}
.banner-part-imge {
  width: 40%;
}

.banner-part-imge img {
  width: 100%;
  height: 100%;
}

/* Featured-part start */
.featured-part-container {
  max-width: 90%;
  background: #ffff;
  margin: 30px auto;
  border-radius: 16px;
  padding: 20px 0;
}
.featured-part-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/*  */
.featured-part-gallery {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  margin-top: 10px;
}
.featured-part-gallery .imge {
  background: rgba(229, 84, 115, 0.1);
  border-radius: 50% 50% 0 0;
  padding: 20px;
  text-align: center;
}

.img-background .imge {
  width: 370px;
  height: 410px;

  margin: 0 auto;
}
.img-background .imge img {
  width: 100%;
  height: 100%;
}

.hot-deal-container {
  max-width: 90%;
  margin: 20px auto;
  padding: 20px 0;
  border-radius: 18px;
  box-shadow: inset 0 -0em 1em #e55473, 0 0 0 1px white,
    -0.8em 0.2em 1em #2727270d;
}
.hot-deal-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.hot-deal-text-content {
  max-width: 50%;
  margin-right: 50px;
}

.hot-deal-image {
  max-width: 50%;
}
/* instagram-part-started */
.instagram-part-container {
  max-width: 90%;
  margin: 20px auto;
  padding-bottom: 20px;
}
.instagram-gallery {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}
.instagram-gallery .imge {
  border: 1px solid #f7fafa;
  border-radius: 5px;
  /* width: 342px;
  height: 396px; */
}
.instagram-gallery .imge img {
  width: 100%;
  height: 100%;
  border-radius: 5px;
}
.super-deal-part-container {
  max-width: 90%;
  margin: 30px auto;
  border-radius: 16px;
  padding: 50px 0;
  background: url(/bg-img/Rectangle\ 9.png);
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  border-radius: 5px;
}
.super-deal-part-container input {
  width: 400px;
  height: 34px;
  padding: 0px 10px;
  border: none;
  color: rgba(39, 39, 39, 0.6);
  border-radius: 6px;
  font-family: Lato;
  font-size: 14px;
  font-weight: 400;
  text-align: left;
  margin-right: 10px;
  -webkit-box-shadow: 1px 10px 13px 0px rgba(0, 0, 0, 0.32);
  -moz-box-shadow: 1px 10px 13px 0px rgba(0, 0, 0, 0.32);
}

.super-deal-part-container .subscribe {
  width: 100px;
  height: 34px;
  background: rgb(229, 84, 115);
  border-radius: 6px;
  border: none;
  color: #fff;
}
/* footer-part */
footer {
  text-align: center;
  padding: 50px 0;
  margin: 20px 0;
  background: rgb(30, 30, 30);
}
footer h5 {
  font-family: Lato;
  font-size: 48px;
  font-weight: 800;
  line-height: 50px;
  color: #fff;
}
footer h5 span {
  color: #e55473;
}
footer p {
  color: rgba(86, 85, 85, 0.9);
}
footer .rights-text {
  color: rgba(86, 85, 85, 0.9);
  font-family: Lato;
  font-size: 14px;
  font-weight: 400;
  line-height: 19px;
  text-align: center;
}

/* responsive-mobile-part styles */
@media screen and (max-width: 576px) {
  .banner-part-content {
    flex-direction: column;
    padding-top: 30px;
  }
  .banner-text-content {
    margin-bottom: 30px;
  }
  /* gallery-part */
  .featured-part-gallery {
    flex-direction: column;
  }
  /* discount-part */
  .hot-deal-content {
    justify-content: center;
    flex-direction: column;
  }
  /* instagram-style */
  .instagram-gallery {
    flex-direction: column;
  }
}
